<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <a href="/event/<%= find_case._id %>/evidence/new">Add</a>

    <h1>Evidence</h1>

    <div>
        <h1>Respondent</h1>

        <% if (msg_1) { %>
            <h1> <%= msg_1 %> </h1>
        <% } %>

        

        <div>
            <h1>Petioner</h1>

            <% if (msg_2) { %>
                <h1> <%= msg_2 %> </h1>
            <% } %>

        
        </div>
    </div>

</body>
</html>